.menu {
    background-color: rgb(35, 33, 33);
}

.nav-link{
    font-size: x-large;
    color: beige;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-link:hover{
    font-size: xx-large;
    color:aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo-img{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.footer{
    background-color: black ;
}

.footer a {
    font-size: 2.5rem;
}