html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 60px; /* Ajusta esto para que coincida con la altura de tu footer */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Ajusta el color de fondo si es necesario */
    padding: 1rem;
    text-align: center; /* Opcional: centrar el contenido del footer */
}



.navbar-logo {
    height: 70px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
    /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
}

/* Opcional: si deseas ajustar la imagen dentro del offcanvas también */
.offcanvas-header img {
    height: 25px; /* Ajusta según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
}

.navbar-nav {
    margin-left: auto; /* Opcional: para alinear elementos de navegación */
}



.titulo1 {
    font-size: 1.5em;
}

.titulo2 {
    font-size: 1.2em;
}

.nav-link{
    color: black;
}

.active{
    color: black;
}

.navbar-brand{
    font-size: 1.5em;
    color: black;
}
.footer a {
    font-size: 2.5rem;
}

.bi-whatsapp{
    color: #000201;
}


.titulo1 {
    white-space: nowrap;
    border-right: 4px solid;
    width: 16ch;

    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}



@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur();
    }
}

@media(max-width: 365px){
    .titulo1 {
        font-size: 1.1em;
    }
    
    .titulo2 {
        font-size: .9em;
    }
    .nav-link{
        font-size: 1.2em;
    }

    .offcanvas-body{
        background-color: rgba(0,0,0,0.7);
        
    }
}