.index{
    background: url("https://giovannycm.github.io/img/Chichen.png") rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    background-position:  center;
    background-size:cover;
    background-repeat: no-repeat;
    
}





.navbar-logo {
    height: 200px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
    /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
}

/* Opcional: si deseas ajustar la imagen dentro del offcanvas también */
.offcanvas-header img {
    height: 25px; /* Ajusta según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
}

.navbar-nav {
    margin-left: auto; /* Opcional: para alinear elementos de navegación */
}

.titulo1 {
    font-size: 1.5em;
}

.titulo2 {
    font-size: 1.2em;
}

.footer a {
    font-size: 2.5rem;
}

/* Añade estilos para centrar verticalmente el contenido del footer */
.footer p {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.footer .btn {
    font-size: 2.5rem;
    
}

.facebook{
    color: rgba(66,103,178,0.9);
}

.whats{
    color: rgba(37,211,102,0.9);
}

.insta{
    color: rgba(88,81,216,0.9);
}


.titulo1 {
    white-space: nowrap;
    border-right: 4px solid;
    width: 16ch;

    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}



@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur();
    }
}

@media(max-width: 365px){
    .titulo1 {
        font-size: 1.1em;
    }
    
    .titulo2 {
        font-size: .9em;
    }
    .nav-link{
        font-size: 1.2em;
    }

    .offcanvas-body{
        background-color: rgba(0,0,0,0.7);
        
    }
}