html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-bottom: 60px; /* Ajusta esto para que coincida con la altura de tu footer */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Ajusta el color de fondo si es necesario */
    padding: 1rem;
    text-align: center; /* Opcional: centrar el contenido del footer */
}



.navbar-logo {
    height: 100px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
    /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
}

/* Opcional: si deseas ajustar la imagen dentro del offcanvas también */
.offcanvas-header img {
    height: 25px; /* Ajusta según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
}

.navbar-nav {
    margin-left: auto; /* Opcional: para alinear elementos de navegación */
}

.navbar-toggler {
    color: #000;
    border-color: #000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.titulo1 {
    font-size: 1.5em;
}

.titulo2 {
    font-size: 1.2em;
}

.nav-link{
    color: black;
}

.active{
    color: black;
}

.navbar-brand{
    font-size: 1.5em;
    color: black;
}
.footer a {
    font-size: 2.5rem;
}


.btn-whatsapp {
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
}
.btn-whatsapp:hover {
    background-color: #1DA851; /* Color verde más oscuro para el hover */
}
.btn-whatsapp:focus, .btn-whatsapp:active {
    box-shadow: none; /* Elimina el efecto de sombra al hacer clic o enfocar */
}

.tripadvisor:hover {
    background-color: #00B67A; /* Color verde de TripAdvisor */
}


/* Añade estilos para centrar verticalmente el contenido del footer */
.footer p {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.footer .btn {
    font-size: 2.5rem;
    
}

.facebook{
    color: rgba(66,103,178,0.9);
}

.whats{
    color: rgba(37,211,102,0.9);
}

.insta{
    color: rgba(88,81,216,0.9);
}


.titulo1 {
    white-space: nowrap;
    border-right: 4px solid;
    width: 16ch;

    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}



@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur();
    }
}

@media(max-width: 365px){
    .titulo1 {
        font-size: 1.1em;
    }
    
    .titulo2 {
        font-size: .9em;
    }
    .nav-link{
        font-size: 1.2em;
    }

    .offcanvas-body{
        background-color: rgba(0,0,0,0.7);
        
    }
    .navbar-logo {
        height: 50px; /* Ajusta la altura según sea necesario */
        width: auto; /* Mantiene la relación de aspecto */
        /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
    }
}