html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('img/descarga.jpg'); /* Reemplaza con la URL de tu imagen */
    background-repeat: repeat; /* Hace que el fondo se repita */
    background-size: auto; /* Ajusta el tamaño de cada patrón automáticamente */
    background-attachment: fixed; /* Fija el fondo mientras haces scroll */
}

main {
    flex: 1;
    padding-bottom: 60px; /* Ajusta esto para que coincida con la altura de tu footer */
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: transparent; /* Ajusta el color de fondo si es necesario */
    padding: .5rem;
    text-align: center; /* Opcional: centrar el contenido del footer */
}



.navbar-logo {
    height: 100px; /* Ajusta la altura según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
    /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
}

/* Opcional: si deseas ajustar la imagen dentro del offcanvas también */
.offcanvas-header img {
    height: 25px; /* Ajusta según sea necesario */
    width: auto; /* Mantiene la relación de aspecto */
}

.navbar-nav {
    margin-left: auto; /* Opcional: para alinear elementos de navegación */
}

.navbar-toggler {
    color: #8c1111;
    border-color: #901c1c;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar a {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
}

.navbar{
  background-color: transparent;
}

h2{
    font-size: 2.5em;
}
.carousel-item p {
    font-size: 1.5em;
}


.titulo1 {
    font-size: 1.5em;
}

.titulo2 {
    font-size: 1.2em;
}

.nav-link{
    color: black;
}

.active{
    color: black;
}

.navbar-brand{
    font-size: 1.5em;
    color: black;
}
.footer a {
    font-size: 2.5rem;
}

.whatsapp-button {
    position: fixed;
    bottom: 90px; /* Distancia desde la parte inferior */
    right: 150px;  /* Distancia desde el lado derecho */
    z-index: 1000; /* Asegúrate de que se superponga sobre otros elementos */
    font-size: 1.8rem; /* Ajusta el tamaño del icono según sea necesario */
    text-decoration: none;
    background-color: #25D366;
    color: #fff;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: px;
}
  

  


.btn-whatsapp {
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white; /* Color del texto */
    border: none; /* Elimina el borde */
}
.btn-whatsapp:hover {
    background-color: #1DA851; /* Color verde más oscuro para el hover */
}
.btn-whatsapp:focus, .btn-whatsapp:active {
    box-shadow: none; /* Elimina el efecto de sombra al hacer clic o enfocar */
}

.tripadvisor:hover {
    background-color: #00B67A; /* Color verde de TripAdvisor */
}


/* Añade estilos para centrar verticalmente el contenido del footer */
.footer p {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.footer .btn {
    font-size: 2.3rem;
    
}

.facebook{
    color: rgba(66,103,178,0.9);
}

.whats{
    color: rgba(37,211,102,0.9);
}

.insta{
    color: rgba(88,81,216,0.9);
}


.titulo1 {
    white-space: nowrap;
    border-right: 4px solid;
    width: 16ch;

    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow: hidden;
}


/* Carruseles acordeon*/
.carousel-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
  
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .carousel-image {
    width: 100%;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  /* Galería de miniaturas */
  .thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .thumbnail {
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .thumbnail:hover {
    opacity: 1;
  }
  
  .thumbnail.active {
    border: 2px solid #000;
    opacity: 1;
  }
  
  /* Botones de navegación */
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  /* Ocultar botones en pantallas grandes */
  .prev, .next {
    display: none;
  }

  .collap_1 {
    background-color: #B2E8B1; /* Verde Claro */
}

.collap_2 {
    background-color: #A5D69F; /* Verde Pastel */
}

.collap_3 {
    background-color: #6C9A4A; /* Verde Musgo */
}

.collap_4 {
    background-color: #D2B48C; /* Marrón Claro */
}

.collap_5 {
    background-color: #8B5A2B; /* Marrón Tierra */
}

.collap_6 {
    background-color: #A3D8E3; /* Azul Claro */
}

.collap_7 {
    background-color: #005B99; /* Azul Profundo */
}


  
  /* Media Queries para pantallas pequeñas */
/*   @media (max-width: 768px) {
   
    .thumbnail {
      width: 40px;
      height: 40px;
    }
  } */
  
  @media (max-width: 1024px) {
    /* Ocultar galería de miniaturas en móviles */
    .thumbnails {
      display: none;
    }
  
    /* Mostrar los botones de navegación */
    .prev, .next {
      display: block;
    }

    
  }


@keyframes typing {
    from {width: 0;}
}

@keyframes blink {
    50% {border-color: transparent;}
}



@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur();
    }

    .navbar{
      background-color: black;
    }

    .navbar-logo {
      content: url('img/Logo-Lakin-s.png'); /* Cambia el nombre del archivo según sea necesario */
      height: 10px; /* Ajusta la altura según sea necesario */
        width: auto;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    h2{
        font-size: 1.5em;
    }
    .whatsapp-button {
        position: fixed;
        bottom: 40px; /* Distancia desde la parte inferior */
        right: 50px;  /* Distancia desde el lado derecho */
        z-index: 1000; /* Asegúrate de que se superponga sobre otros elementos */
        font-size: 1.5rem; /* Ajusta el tamaño del icono según sea necesario */
        text-decoration: none;
        background-color: #25D366;
        color: #fff;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
    }
    
}

@media(max-width: 767px){
    .sidebar{
        background-color: rgba(255,255,255,0.8);
        backdrop-filter: blur();
    }

    h2{
        font-size: 2.5em;
    }
    .carousel-caption p  {
        font-size: 0;
        
    }

    .footer {
        position:relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f8f9fa; /* Ajusta el color de fondo si es necesario */
        padding: .5rem;
        text-align: center; /* Opcional: centrar el contenido del footer */
    }

}




@media(max-width: 365px){
    .titulo1 {
        font-size: 1.1em;
    }
    
    .titulo2 {
        font-size: .9em;
    }
    .nav-link{
        font-size: 1.2em;
    }

    .offcanvas-body{
        background-color: rgba(0,0,0,0.7);
        
    }
    .navbar-logo {
        height: 50px; /* Ajusta la altura según sea necesario */
        width: auto; /* Mantiene la relación de aspecto */
        /* Alternativamente, puedes usar width: 100px; para establecer un ancho fijo */
    }

}